{% extends 'base.html.twig' %}

{% block body %}



<div class="conteneur_sous_header">
        <img src="{{ asset('images/header.jpg') }}" class="sous_header"></img>
        <div class="sous_header_texte">
            <h1>Comment savoir la marque ou le modèle de son téléphone ?</h1>
            <a href="javascript:window.close() ">Retour au devis</a>
        </div>
    </div>
    
<main>
<br/><br/><br/>
  <div class="savoir-marque-modele-contenu"> 
   <h1>Guide sur les différentes façon de trouver la marque et le modèle de son téléphone</h1>
   <h2>Sur la coque du téléphone</h2>
   <p>Essayez de regarder le devant, l'arrière, le côté, il y a de grande chance pour voir apparaître le logo de la marque.</p>

   <div class="galerie">
   <div class="item"><img src="images/nokia.jpg"></div>
   <div class="item"><img src="images/iphone.jpg"></div>
   <div class="item"><img src="images/samsung.jpg"></div>
  </div>

<br/><br/><br/><hr><br/><br/><br/>
   <h2>Dans les menus du téléphones</h2>
   <p>Comme vous pouvez le voir sur les images ci-dessous, il y a le modèle, ainsi que la marque.</p>
   <br/>
   <h4>Manipulation</h4>
   <p>
    Android (Samsung / Huawei / Xiaomi ...) : Réglages > À propos du téléphone > Identité du téléphone.<br/>
    Apple (Iphone / Ipad ...) : Réglages > Général > Informations<br/>
    Autre : Options > À propos.
  </p>

   <div class="galerie">
   <div class="item"><img src="images/huawei-info.png"></div>
   <div class="item"><img src="images/samsung-info.jpg"></div>
    <div class="item"><img src="images/iphone-info.jpg"></div>
  </div>
  <br/><br/><br/><hr><br/><br/><br/>

   <h2>Sur la boîte du téléphone</h2>
   <p>Essayez de regarder un peu partout sur l'emballage si vous l'avez encore, ou même sur la notice il y a de grande chance pour voir apparaître le logo de la marque.</p>

   <div class="galerie">
   <div class="item"><img src="images/iphone-boite.jpg"></div>
    <div class="item"><img src="images/samsung-boite.jpg"></div>
    <div class="item"><img src="images/blackberry-boite.jpg"></div>
  </div>
  <br/><br/><br/><hr><br/><br/><br/>

<h2>Activer le Bluetooth</h2>
<p>En activant le bluetooth, si votre nom de téléphone n'a pas été modifié, vous pourrez voir apparaître votre nom en recherchant un peu dans les menus "Modifier le nom bluetooth".</p>

<div class="galerie">
<div class="item"><img src="images/bluetooth.jpg"></div>
</div>
<br/><br/><br/><hr><br/><br/><br/>
<h2>Avec le numéro IMEI</h2>
<p>Si vous disposez de votre numéro d'IMEI, obtenable dans les informamtions du téléphone, sur la coque, ou sur la boîte...
  <br/>vous pouvez aller faire un tour sur le site : <a href="https://www.imei.info/">Trouver son numéro d'IMEI</a>
</p>

<div class="galerie">
<div class="item"><img src="images/imei.png"></div>
</div>

</div>


{% endblock %}
