{% extends 'login.html.twig' %}

{% block body %}

<body class="text-center">
<main class="form-signin">
  <form  method="POST">
    <img class="mb-4" src="../images/logo.png" alt="" width="72">
    <h1 class="h3 mb-3 fw-normal">Interface Magasin<br/>Connectez-vous !</h1>

    <div class="form-floating">
    <input type="username" name="username" id="floatingInput" class="form-control" required autofocus placeholder=" ">
      <label for="floatingInput">Nom d'utilisateur</label>

    </div>

     
            <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" required placeholder=" ">
      <label for="floatingPassword">Mot de passe</label>
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div> 
    <br/><br/>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>
  </form>

</main>
</body>

{% endblock %}
