{% extends 'base.html.twig' %}

{% block body %}
        <section class="sous-header">
                <div class="cover"></div>
                <div class="sous-header-texte">
                <img src="{{ asset('images/logo.png') }}"/>
		        <h1>Réparations téléphones, tablettes<br/>
			        et vente d'accessoires</h1>
		        <a href="/devis">Demander un devis</a>
                </div>
        </section>


<div class="conteneur">
<h1>Notre Boutique</h1>
<hr class="hr-accueil">
<div class="box-conteneur">
	{% for info in infos %}
			<div class="box">
				<i class="{{ info.logo }}"></i>
				<h1>{{ info.titre }}</h1>
				<h3>{{ info.texte }}</h3>
			</div>
	{% endfor %}
	</div>
</div>


<div class="conteneur">
<h1>Photothèque</h1>
<hr class="hr-accueil">
<div class="phototheque-conteneur">
<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/1.jpg">
      <img src="images/phototheque/1.jpg">
    </a>
    <div class="desc">La devanture de notre magasin.</div>
  </div>
</div>


<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/2.jpg">
      <img src="images/phototheque/2.jpg">
    </a>
    <div class="desc">Nouvelle coque 100% écologique !</div>
  </div>
</div>

<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/3.jpg">
      <img src="images/phototheque/3.jpg">
    </a>
    <div class="desc">Devanture de noël !</div>
  </div>
</div>

<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/4.jpg">
      <img src="images/phototheque/4.jpg">
    </a>
    <div class="desc">Notre rayon de coque ! </div>
  </div>
</div>
<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/5.jpg">
      <img src="images/phototheque/5.jpg">
    </a>
    <div class="desc">Devanture de noël !</div>
  </div>
</div>
<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/6.jpg">
      <img src="images/phototheque/6.jpg">
    </a>
    <div class="desc">Devanture de noël !</div>
  </div>
</div>
<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/6.jpg">
      <img src="images/phototheque/6.jpg">
    </a>
    <div class="desc">Devanture de noël !</div>
  </div>
</div>
<div class="phototheque">
  <div class="gallery">
    <a target="_blank" href="images/phototheque/6.jpg">
      <img src="images/phototheque/6.jpg">
    </a>
    <div class="desc">Devanture de noël !</div>
  </div>
</div>
</div>
<div class="clearfix"></div>
</div>
{% endblock %}
