.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  .form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .titre-header {
    background-color: #212529;
    display: block;
    width: 100%;
    color: white;
    margin: 0;
  }
  .list-group-item {
    border: 2px solid black;
    padding: 1px;
    width: 500px;
    margin: 0 auto;
  }
  
  .form-magasin label {
    display: block;
    margin-bottom: 10px;
  }
  .form-magasin input[type="text"] {
    display: block;
    background-color: lightgrey;
    border: 1px dashed black;
    border-radius: 4px;
    font-size: 15px;
    margin: 0 auto;
    padding: 15px;
    width: 300px;
    color: black;
  }
  .form-magasin select {
    display: block;
    background-color: lightgrey;
    border: 1px dashed black;
    border-radius: 4px;
    font-size: 15px;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    color: black;
  }
  .form-magasin input[type="text"]:focus,
  .form-magasin select:focus {
    background: #bfc8ce;
  }
  textarea{
    height:250px;
  }
  .status-bouton {
    float: right;
  }
  .status-th {
    width: 200px;
  }
  .btn-space{
    margin-right:10px;
  }
  /* ----------- */
  /* PRODUIT     */
  /* ----------- */

  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .file > input[type='file'] {
    display:none;
  }
  .file > label {
    font-size: 1rem;
    cursor: pointer;
    outline: 0;
    user-select: none;
    background-color: hsl(204, 86%, 53%);
    width:45%;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
  }
  .file > label > i {
    padding-right: 5px;
    color: white;
  }
  .file--upload > label:hover {
    background-color: hsl(204, 100%, 38%);
  }
  #file-chosen{
    margin-left: 0.3rem;
  }

  input,
 textarea{
  border: none;
  outline: 0;
  border-radius: 4px;
  font-size: 15px;
  padding: 15px;
  width: 50%;
  background-color: #e8eeef;
  color: black;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

 select {
  border: none;
  outline: 0;
  border-radius: 4px;
  font-size: 15px;
  padding: 15px;
  width: 50%;
  background-color: #e8eeef;
  color: black;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
input:focus,
textarea:focus {
  background: #bfc8ce;
}
/* ------------------ SEARCHBAR -------------------------*/
.search-bar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content:center;
  
}
.searchButton {
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}