.page-mentions-legales{
    display:block;
    padding:15px;
    text-align:center;
  }
  .page-mentions-legales h1{
  margin:50px 0px;
  color:rgb(214, 158, 4);
  }
  .page-mentions-legales h3{
    margin:50px 0px;
    font-weight: 600;
    }
  .page-mentions-legales p{
    padding:0px 50px;
  }
  .page-mentions-legales em{
    font-weight: 600;
    
  }