.header_0 {
    height: 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow: rgb(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgb(0, 0, 0, 0.3) 0px 30px 60px -30px;
    -webkit-box-shadow: rgb(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgb(0, 0, 0, 0.3) 0px 30px 60px -30px;
    -moz-box-shadow: rgb(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgb(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.navigation-logo {
    font-size: 20px;
    color: white;
    font-weight: 1000;
    text-decoration: none;
    background-color: rgb(214, 158, 4);
    height: 100px;
    padding: 40px 30px;
    /* line-height:100px; */
    display: block;
    font-family: "LaMaisonDuSmartphone";
    text-align:center;
}

nav a {
    padding: 15px;
    text-decoration: none;
    font-weight: 1000;
    font-size: 25px;
    color: rgb(132, 132, 132);
    margin-right: 10px;
    display: inline-block;
    z-index: 1000;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}

nav a.nav-liens:before, nav a:after {
    pointer-events: none;
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 5px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
}

nav a.nav-liens:before {
    bottom: 100%;
    background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

nav a.nav-liens:after {
    top: 100%;
    background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

nav a.nav-liens:hover:before, nav a.nav-liens:hover:after {
    opacity: 1;
}

.nav-class .icon {
    display: none;
}




@media screen and (max-width: 300px) {
    .navigation-logo {
        font-size: 15px;
        padding: 30px 30px 45px 30px;
    }
}
@media screen and (max-width: 405px) {
    .navigation-logo {
        font-size: 15px;
        
    }
}
@media screen and (max-width: 850px) {
    .nav-class a {
        display: none;
    }

    .nav-class a.icon {
        float: right;
        display: block;
        font-size: 40px;
    }

}

@media screen and (max-width: 850px) {
    .nav-class.responsive {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        padding: 20px 0;
        width: 100%;
        z-index: 100;
        box-shadow: rgb(0, 0, 0, 0.25) 0px 54px 55px,
            rgb(0, 0, 0, 0.12) 0px -12px 30px,
            rgb(0, 0, 0, 0.12) 0px 4px 6px,
            rgb(0, 0, 0, 0.17) 0px 12px 13px,
            rgb(0, 0, 0, 0.09) 0px -3px 5px;
        -webkit-box-shadow: rgb(0, 0, 0, 0.25) 0px 54px 55px,
            rgb(0, 0, 0, 0.12) 0px -12px 30px,
            rgb(0, 0, 0, 0.12) 0px 4px 6px,
            rgb(0, 0, 0, 0.17) 0px 12px 13px,
            rgb(0, 0, 0, 0.09) 0px -3px 5px;
        -moz-box-shadow: rgb(0, 0, 0, 0.25) 0px 54px 55px,
            rgb(0, 0, 0, 0.12) 0px -12px 30px,
            rgb(0, 0, 0, 0.12) 0px 4px 6px,
            rgb(0, 0, 0, 0.17) 0px 12px 13px,
            rgb(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .nav-class.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 23px;
        /* display:block; */
    }

    .nav-class.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}