{% extends 'base.html.twig' %}

{% block body %}
<ol class="progress">
  <li class="is-complete" data-step="1">
    Client
  </li>
  <li class="is-active" data-step="2">
    Téléphone
  </li>
  <li data-step="3">
    Problème(s)
  </li>
  <li data-step="4">
    Commentaire &<br/>Protection écran
  </li>
  <li data-step="5">
    Récapitulatif
  </li>
  <li data-step="6">
    Envoi
  </li>
</ol>

<div class="progress-phone">
<h1>Etape 2 / 7</h1>
<h2>Téléphone</h2>
<hr>
</div>
<main>
{{ form_start(form, {'attr': {'class': 'form-devis', 'action': '/devis_4'}}) }}
<fieldset>
<legend><span class="number">3</span>Quel est le modèle de votre téléphone ?</legend>
<br/>
		<a target="_blank" href="/SavoirMarqueModele" class="savoir-marque-modele">
			<i class="far fa-question-circle"></i>
			Comment savoir le modèle ?</a>
{{ form_widget(form.modele) }}
</fieldset>
{{ form_end(form) }}

		
			
		
	{% endblock %}
