{% extends 'base.html.twig' %}

{% block body %}
	<ol class="progress">
		<li class="is-complete" data-step="1">
			Client
		</li>
		<li class="is-active" data-step="2">
			Téléphone
		</li>
		<li data-step="3">
			Problème(s)
		</li>
		<li data-step="4">
			Commentaire &<br/>Protection écran
		</li>
		<li data-step="5">
			Récapitulatif
		</li>
		<li data-step="6">
			Envoi
		</li>
	</ol>

		{{ form_start(form, {'attr': {'class': 'form-devis'}}) }}
		<fieldset>
			<legend>
				<span class="number">2</span>Quel est la marque de votre téléphone ?</legend>
			<br/>
			<a target="_blank" href="/SavoirMarqueModele" class="savoir-marque-modele">
				<i class="far fa-question-circle"></i>
				Comment savoir la marque ?</a>

			{{ form_widget(form.marque) }}
			

		</fieldset>
		<a href="/devis_2b" class="devis_bouton_marque_modele_autre"><i class="fas fa-mobile-alt"></i> Ma marque n'est pas dans la liste</a>
		{{ form_end(form) }}
	{% endblock %}
