{% extends 'base.html.twig' %}

{% block body %}
	<ol class="progress">
		<li class="is-complete" data-step="1">
			Client
		</li>
		<li class="is-complete" data-step="2">
			Téléphone
		</li>
		<li class="is-complete" data-step="3">
			Problème(s)
		</li>
		<li class="is-complete" data-step="4">
			Commentaire &<br/>Protection écran
		</li>
		<li class="is-complete" data-step="5">
			Récapitulatif
		</li>
		<li class="is-complete" data-step="6">
			Envoi
		</li>
	</ol>
	<h1>OUI !!!</h1>
{% endblock %}
