<form method="post" action="{{ path('modele_delete', {'id': modele.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce modèle ({{modele.NomModele}}) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modele.id) }}">
    <button class='btn btn-danger'><i class='fas fa-trash-alt'></i></button>
</form>
