{% extends 'magasin.html.twig' %}


{% block body %}
    <h1>Edit Devis</h1>

    {{ include('devis_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('devis_admin_index') }}">back to list</a>

    {{ include('devis_admin/_delete_form.html.twig') }}
{% endblock %}
