{% extends 'magasin.html.twig' %}


{% block body %}
    <h1>Create new Devis</h1>

    {{ include('devis_admin/_form.html.twig') }}

    <a href="{{ path('devis_admin_index') }}">back to list</a>
{% endblock %}
