<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Magasin{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/magasin.css') }}">
    <script src="https://kit.fontawesome.com/36d8ba31b1.js" crossorigin="anonymous"></script>
    <!-- <link rel="shortcut icon" href="images/logo.png" type="image/x-icon"/> -->
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    
    {% block body %}{% endblock %}
   
</body>

</html>