<form method="post" action="{{ path('produits_admin_delete', {'id': produit.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce modèle ({{produit.titre}}) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class='btn btn-danger'><i class='fas fa-trash-alt'></i></button>
</form>

