<form method="post" action="{{ path('marque_delete', {'id': marque.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette marque ({{marque.NomMarque}}) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
    <button class='btn btn-danger'><i class='fas fa-trash-alt'></i></button>
</form>