{% extends 'base.html.twig' %}


{% block body %}
<div class="page-mentions-legales">
	<h1>Mentions Legales<br/>
	Conditions générales d'utilisations</h1>
	<p>En vigueur au 30/01/2022<p>
		<p>Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique
		des modalités de mise à disposition du site et des services par <em>La Maison du Smartphone</em> et de
		définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ».
		Les présentes CGU sont accessibles sur le site à la rubrique «CGU».</p>
	<h3>Article 1 : Les mentions légales</h3>
	<p>L'édition du site <em>https://la-maison-du-smartphone.fr/</em> est assurée par la Société <em>***Forme sociale*** La
		Maison du Smartphone</em> au capital de <em>***Montant du capital social en euros*** euros</em>, immatriculée au
		<em>RCS de ***Ville d'immatriculation au RCS***</em> sous le numéro <em>***Numéro SIREN***</em>, dont le siège social
		est situé au <em>***Adresse du siège social***</em>
		Numéro de téléphone <em>***Numéro de téléphone***</em>
		Adresse e-mail : <em>***Adresse e-mail***</em>.
		Le Directeur de la publication est : <em>***Nom et prénom du directeur de la publication***</em>
		L'hébergeur du site <em>https://la-maison-du-smartphone.fr/</em> est la société OVH, dont le siège social est
		situé au <em>***Adresse du siège sociale de l'hébergeur ***</em>, avec le numéro de téléphone : <em>***Numéro de
		téléphone de l'hébergeur***</em>.</p>
	<h3>Article 2 : Accès au site</h3>
	<p>Le site <em>https://la-maison-du-smartphone.fr/</em> permet à l'Utilisateur un accès gratuit aux services
		suivants :
		Le site internet propose les services suivants :
		<em>Devis, Contact, Produits, Présentation du magasin, etc...</em>
		Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les
		frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion
		Internet, etc.) sont à sa charge.</p>
	<h3>Article 3 : Collecte des données</h3>
	<p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
		de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
		et aux libertés. Le site est déclaré à la CNIL sous le numéro <em>***Numéro de déclaration à la CNIL***</em>.
		En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
		d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
		exerce ce droit :
		· par mail à l'adresse email <em>contact@la-maison-du-smartphone.fr</em>
		· via un formulaire de contact ;</p>
	<h3>Article 4 : Propriété intellectuelle</h3>
	<p>Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet
		d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
		L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des
		différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé,
		toute utilisation à des fins commerciales et publicitaires est strictement interdite.
		Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation
		expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’Article L 335-2
		et suivants du Code de la propriété intellectuelle.
		Il est rappelé conformément à l’Article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui
		reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.</p>
	<h3>Article 5 : Responsabilité</h3>
	<p>Les sources des informations diffusées sur le site <em>https://la-maison-du-smartphone.fr/</em> sont réputées
		fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
		Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle.
		Malgré des mises à jour régulières, le site <em>https://la-maison-du-smartphone.fr/</em> ne peut être tenu
		responsable de la modification des dispositions administratives et juridiques survenant après la
		publication. De même, le site ne peut être tenue responsable de l’utilisation et de l’interprétation de
		l’information contenue dans ce site.
		Le site <em>https://la-maison-du-smartphone.fr/</em> ne peut être tenu pour responsable d’éventuels virus qui
		pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à
		l’accès, ou au téléchargement provenant de ce site.
		La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
		insurmontable d'un tiers.</p>
	<h3>Article 6 : Liens hypertextes</h3>
	<p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces
		liens, il sortira du site <em>https://la-maison-du-smartphone.fr/</em>. Ce dernier n’a pas de contrôle sur les pages
		web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur
		contenu.</p>
	<h3>Article 7 : Cookies</h3>
	<p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement
		sur son logiciel de navigation.
		Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de
		l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site <em>https://la-maison-du-smartphone.fr/</em>. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être
		utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et
		donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.
		L’information contenue dans les cookies est utilisée pour améliorer le site <em>https://la-maison-du-smartphone.fr/</em>.
		En naviguant sur le site, L’Utilisateur les accepte.
		L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son
		logiciel de navigation.</p>
	<h3>Article 8 : Droit applicable et juridiction compétente</h3>
	<p>La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un
		litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.
		Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux
		coordonnées inscrites à l’Article 1.</p>
		</div>
{% endblock %}
