{% extends 'base.html.twig' %}

{% block body %}


<div class="flexbox">
<div class="items-1">
<h1>Désolé, nous ne trouvons pas la page que vous recherchez.</h1>
<h1>Redirections possibles :</h1>

<a class="link-redirect-error" href="/">Accueil</a><br/>
<a class="link-redirect-error" href="/devis">Demander un devis</a><br/>
<a class="link-redirect-error" href="/produits">Produits</a><br/>
<a class="link-redirect-error" href="/contact">Contact</a><br/>
<a class="link-redirect-error" href="/mentions_legales">Mentions Légales</a><br/>
<a class="link-redirect-error" href="/savoirMarqueModele">Savoir la marque et le modèle de son téléphone</a><br/>


</div>
<div class="items-2">
<img id="img-error" src="{{ asset('images/image-error-page.png') }}"/>
<h1 class="error-h1">ERROR</h1>
</div>
</div>
{% endblock %}
