{% extends 'base.html.twig' %}

{% block body %}

<style>

h1{
    margin:40px 20px;
    text-align: center;
  
}

#img-error{
    width:70%;
    margin:0 auto;
    display:block;
}
.link-redirect-error{
    text-decoration:none;
    color:black;
    font-size:20px;
    display:block;
    text-align:center;
}
.link-redirect-error:hover{
    color:rgb(214, 158, 4);
}
.flexbox{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.items-1{
    width:70%;
}
.items-2{
    width:30%;
}
.error-h1{
    color:red;
}
@media (max-width: 800px) {
  .flexbox{
    flex-direction: column;
  }
  .items-2{
      width:100%;
  }
  #img-error{
      margin: 80px auto 0 auto;
      width:250px;
      
  }

}
</style>
<div class="flexbox">
<div class="items-1">
<h1>Désolé, nous ne trouvons pas la page que vous recherchez.</h1>
<h1>Redirections possibles :</h1>

<a class="link-redirect-error" href="/">Accueil</a><br/>
<a class="link-redirect-error" href="/devis">Demander un devis</a><br/>
<a class="link-redirect-error" href="/produits">Produits</a><br/>
<a class="link-redirect-error" href="/contact">Contact</a><br/>
<a class="link-redirect-error" href="/mentions_legales">Mentions Légales</a><br/>
<a class="link-redirect-error" href="/savoirMarqueModele">Savoir la marque et le modèle de son téléphone</a><br/>


</div>
<div class="items-2">
<img id="img-error" src="{{ asset('images/image-error-page.png') }}"/>
<h1 class="error-h1">ERROR 404</h1>
</div>
</div>
{% endblock %}
