{% extends 'magasin.html.twig' %}


{% block body %}
	<h1 class="text-center">Affichage des problèmes</h1>
    	<a class="btn btn-success" href="{{ path('probleme_new') }}">Ajouter un problème</a>
        <br/><br/>
	<table class="table table-bordered table-striped table-responsive-stack">
		<thead>
			<tr style='text-align:center; background-color:#212529; color:white;'>
				<th>Actions</th>
				<th>NomProbleme</th>
			</tr>
		</thead>
		<tbody>
			{% for probleme in problemes %}
				<tr>
					<td>
						<a class='btn btn-warning' href="{{ path('probleme_edit', {'id': probleme.id}) }}">
							<i class='fas fa-pen'></i>
						</a>
						{{ include('probleme/_delete_form.html.twig') }}
					</td>
					<td>{{ probleme.NomProbleme }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucun problème disponible</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
