{% extends 'magasin.html.twig' %}


{% block body %}
    <h1>Create new Probleme</h1>

    {{ include('probleme/_form.html.twig') }}

    <a href="{{ path('probleme_index') }}">back to list</a>
{% endblock %}
